.dong1{
    background-color: #007BFF;
    color: white;
}
.button1{
    background-color: #0dff00;
    color: white;
}
.button2{
    background-color: yellow;
    color: black;
}
.button3{
    background-color: red;
    color: white;
}